<h1> Listing of Teams the user is following</h1>

<p>
	When the users are singing up for an account they are going to be presented with an option
	to choice a team(s) of choices that they support. If skipped when signing up, the user can also select the team(s) of choice on this page. After choosing the team they are going to access details about their team(s) on this page. <br>

	<p></p>
		>A little history on thier team<br>
		>Different type of stats<br>
		>Current Season Fixtures<br>
		>Place on Table of their league or rank from thier conference<br>
		>Differnt kind of leages that will redirect user to thier  team highlights, trending news<br>
		 transfer roummours, injurie listing.<br>
</p>