<h1> Users Bloging scores and parties</h1>

<p> 
  
  The User is going to be predicing on the team(s) that he/she is following. On the pre game blog
  that the user is going to be participation; the user will be predicting scores(before half time and at the fulltime), formation, substitution, stats and tatctics. Inorder to be valid the user must submit the prediction upto 4 hours before the game. For any last min injuries suffered on the team, user will be allowed to change only the injured player but must maintain the rest of the team as it was. 
</p>
  <p>

  Prior the prediction or the season the user can create parties, where friends (fellow users) can join in and Compare discuess thier prediction with one another. From the party the user that came the closest to the game will win points and the points will be added to the users throphy. And will be placed on the leaders boards corsponding to users score. And when ever the part is conluded who ever has the highest cummilative points will win the party.  
</p>